header {
    font-family: 'Arvo', serif;
}


img {
    width: 400px;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 20px;
    background-color:#212121 ;
    color: white;
}
.logo {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 0px;
    padding: 10px;
}

nav li {
    margin-right: 20px;
    padding: 5px;
}

nav li a {
    color: white;
    font-size: larger;
    text-align: left;
    line-height: 1.2;

}

ul {
    list-style: none;
}

main{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.introduction{
    justify-content: center !important;
    color: white;
    margin-top:10px; 
    margin-bottom:10px ;
}
.introduction article {
    font-family: 'Arvo', serif;
    justify-content: center;
    align-items: center;
    background-color:#323a45;
    max-width: 500px;

}


.introduction article p {
    padding: 20px;
    color: white;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 20px;
    background-color:#323a45 ;
    color: white;
    margin-bottom: 10px;
}

footer{
    background-color:#212121;
    padding: 10px;
    text-align: center;
    color: white;
}