body {
    margin: 0;
    padding: 0;
    background-image: url(pics/back_image.jpg);  
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: large;
}

h2{
    font-family: 'Arvo', serif;
}

.header_title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color:#212121;
    color: white;
    font-family: 'Arvo', serif;
}
.header_title .logo {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:left;
    width:100%;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
}

nav li {
    margin-right: 10px;
    padding: 5px;
}

nav li a{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 1px;
    border-radius: 0.12em;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 0.2s;
}

nav li a:hover{
    color:black;
    background-color: white;
}

ul {
    list-style: none;
}

main{
    max-width: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

#concepts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
#concepts article{
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    
}

#concepts article h2 {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
}

#concepts article img {
    max-width: 100%;
    padding:0;
    align-items: center;
    
}

.introduction{
    align-items: center;
    justify-content: center;
    color: white;
    margin-top:10px; 
    margin-bottom:10px;
    width: 100%;
}
.introduction article {
    font-family: 'Arvo', serif;
    background-color:#323a45;
    background: none;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.introduction article p, h2 {
    color: white;
    text-align: center;
}

article {
    background-color:#323a45 ;
    color: white;
    padding: 15px 15px 5px;
    font-family: 'Arvo', serif;
    margin:10px;
    border-radius: 15px;
}
article h2 {
    margin-bottom: 10px;
}
article p {
    padding: 20px 10px 5px;
    margin-bottom:20px;
}


.button {
    display: inline-block;
    padding: 0.5em 2em;
    border: 0.1em solid white;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 0.2s;
    margin-bottom: 30px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px grey;
}

.button:hover{
    color:black;
    background-color: white;
}

#developments {
    background-color: rgba(33, 33, 33, 0.7);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#developments article {
    background: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


}

#developments h2 {
    background-color: #323a45;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Arvo', serif;
    border-radius: 10px;
}



.interesting_videos{
    display: flex;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 90%;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-style: solid;
    border-top-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}


.interesting_videos_title{
    width: 100%;
    font-size: larger;
    text-align: center;
    background-color: #212121 !;
}

.nested_interesting_videos{
    background-color: rgba(50, 58, 69, 0,7);
    margin-bottom: 15px;
    text-align: center;
}
.video{
    margin-left: auto;
    margin-right:auto;
    align-items: center;;
}


.comment_area {
    background-color: #323a45;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arvo', serif;
    flex-grow: 1;
    min-width: 0;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-style: solid;
    border-top-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.comment_title{
    font-size: larger;
    border-bottom-style: solid;
    border-radius: 20px;
    border-color: white;
    text-align: center;
    align-items: center;
    width: 100%
}

.Guidelines{
    font-size: larger;
    color: white;
}
.Guidelines li{
    margin-bottom: 15px;
}
.comment_area button {
    background-color: #212121;
    padding: 0.7em 2em;
    border: 0.1em solid white;
    border-radius: 0.12em;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: all 0.2s;
    margin-bottom: 20px;
    margin-left: 15px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Arvo', serif;
}
.comment_area button:hover{
    color:white;
    background-color: #323a45;
}
.comment_box{
    background-color: rgba(33, 33, 33, 0.7);
    padding: 30px;
    border-radius:10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.comment_box h2{
    color: white;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 10px;
}

.form-group {
    margin-bottom: 20px;
    padding-left: 15px;
}

.form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s;
  background-color: #f2f2f2;
  color: black;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  background-color: #fff;
}

footer{
    background: linear-gradient(#323a45, #212121);
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

@media screen and (min-width: 900px){
    .header_title{
        flex-direction: row;
    }
    .logo{
        width: 0;   
    }
    nav ul{
        flex-direction: row;
    }

    .introduction{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .introduction article{
        max-width: 45%;
    }
    #concepts {
        display: flex;
        flex-direction: row;
        flex-basis: 0;
    }

    #concepts article {
        max-width: 380px;
        flex-grow: 1;

    }

    #developments {
        flex-direction: row;
    }
    #developments article{
        max-width: 44%;
    }

    .comment_area {
        background-color: #323a45;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .Guidelines {
        width: 50%;
        padding-right: 10px;
    }
    .comment_box{
        width: 50%;
        padding-left: 10px;
    }
    
    .nested_comment_area{
        display: flex;
        flex-direction: row;
        flex: 1
    }

    .nested_interesting_videos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    

}

@media screen and (min-width: 1200px) {

    
    
}